*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    cursor:url("images/cursor.png"),pointer;
}
body{
    background-color: white;
    color: black;
}
.hero{
    
    z-index: 15;
    width: 100%;
    height: 100px;
    background-color: white;
    position: relative;
    box-shadow: 0px 4px 4px 0px #00000017;
    display: inline-block;
}
.logo
{
    position: absolute;
    top: 26px;
    left: 65px;
}
.name{
    position: absolute;
    width: 97px;
    height: 25px;
    top: 42px;
    left: 132px;
}
.hero ul a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 50px;
    font-family: Bebas Neue;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;


}
.hero ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 44px;
    left: 614px;
}
.hero ul a i{
    margin-left: 30px;
}
.body-1 h1 {
    
    position: absolute;
    top: 150px;
    left: 30%;
    text-transform: uppercase;
    font-family: Poppins;
    font-size: 64px;
    font-weight: 600;
    line-height: 76.8px;
    text-align: center;
    font-family: bebas neue;
   
}
.body-1 h2{
    position: relative;
    font-family: bebas neue;
    text-align: center;
    margin-top:7%;
    font-size: 350pt;
    color: rgb(123, 123, 123);
    letter-spacing: 20px;
}
.rev{
    position: absolute;
    top: 240px;
    left: 20%;
    gap: 0px;
    opacity: 0px;
    height: 450px;
    width: 1147px;
    scale: 120%;
}
.lambo{
    position: absolute;
    width: 1080px;
    height: 600px;
    top: 270px;
    left: 13%;
    gap: 0px;
    opacity: 0px;
    scale: 120%;
}
.para-1{
    position: absolute;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 275;
    line-height: 24px;
    text-align: center;
    top: 850px;
    left: 20%;
    width: 954px;
    height: 72px;
    justify-content: center;
}
.body-1 div{
    position: absolute;
    top:950px;
    left: 40%;
    
}
.body-1 div span{
    text-align: center;
    border: 1px solid black;
    display: inline-block;
    padding-top: 8px;
    border-radius: 22px;
    align-items: center;
    width: 107px;
    height: 34px;
    margin-left: 15px;
}
.body-1 div span:hover{
    color: white;
    background-color: black;
}
.newspan{
    width: 65px;
    height: 190px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 55%;
    left: 51.2%;
    border-radius: 40%;
    z-index: 4;
}

.para-2{
    position: absolute;
    top: 55%;
    left: 54.2%;
    width: 0px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.623);
    color: white;
    text-align: center;
    display: none;
    border-radius: 20px;
}
.para-2 h4{
    display: none;
    font-size: 20px;
    margin-bottom: 10px;
}
.para-2 p{
    text-align: justify;
    display: none;
}
.logospan{
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 60.1%;
    left: 29.8%;
    border-radius: 40%;
    display: inline;
    z-index: 3;
}
.carlogo{
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 61%;
    left: 30%;
    scale : 0%;
    display: inline;
    
}
.engine{
    width: 900px;
    height: 380px;
    background-color: rgba(8, 2, 2, 0);
    position: absolute;
    top: 40.1%;
    left: 22.8%;
    display: inline;
}
.lambo-on{
    position: absolute;
    width: 1080px;
    height: 600px;
    top: 270px;
    left: 13%;
    gap: 0px;
    opacity: 0px;
    scale: 120%;
    display: none;
}
.soundBtn{
    position: absolute;
    top:90%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 15pt;
    color: red;
    border-color: transparent;
    left: 90%;
    
}
.soundBtn:hover{
    background-color: rgba(202, 202, 202, 0.76);
    cursor: pointer;
}
.revitto{
    position: absolute;
    margin-top: 100px;
    color: black;
    font-family: 'Bebas Neue';
    font-size: 100px;
}
.search{
    position: absolute;
    z-index: 14;
    background-color: rgba(0, 0, 0, 0.568);
    width: 4%;
    height: 4%;
    top: 48%;
    left: 48%;
    scale: 0%;
}